h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.table-heading {
  text-align: left;
  padding: 10%;
  width: 100%;
}
.todo-item {
  border-bottom: 1px solid red;
}
